body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 34vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(234,230,227,255);
    padding: 10px;
}





