body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.menu {
    width: 300px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #d3d3d3;
    border: 1px solid #c0c0c0;
    margin-bottom: 5px;
    font-size: 16px;
}

.menu-item button {
    padding: 5px 10px;
    background-color: white;
    border: white;
    cursor: pointer;
    font-weight: bold;
}

.menu-item button:hover {
    background-color: #e0e0e0;
}
